/* sobrescreve ViewNLM.css */

.bm {
	font-family:Verdana,courier new;
	font-size: 10pt;

}
table.bm {
	font-family:arial;
	font-size: 8pt;
	background-color: #DDDDDD;
	border-spacing: 3px;
	margin: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px; 
	border:  3px 3px 3px 3px; 
}

.tl-main-part {
	display: block;
	font-size: 12pt;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;   
   margin-top: 30pt;
  }
 .tl-section-level {
   display: block;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 14pt;
   font-weight: bold;
   color: black;

   }
 
/* titling level 4: lowest designed level */
.tl-lowest-section {
   display: block;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10pt;
   font-weight: bold;
   color: black;
   line-height: 130%;
   margin-top: 10pt;
   }

/* default titling level */
.tl-default {
   display: block;
   font-family:  Verdana, Arial, Helvetica, sans-serif;
   font-size: 10pt;
   font-style: italic;
   color: black;
   line-height: 130%;
   margin-top: 5pt;
  }

.body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10pt;
  }
hr.section-rule {
	display: none;
    margin-top: 20pt;
    margin-bottom: 20pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    }
/* SciELO */
.scielo-article-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13pt;
	margin: 10;
}
.scielo-article-other-titles {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	margin: 20;
}
.scielo-article-other-titlesr2l {
	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 16pt;
		text-align: right;
	margin: 20;
}
.scielo-authors {
		font-family: Verdana,Arial,Helvetica,sans-serif;
		font-weight: bold;
		font-size: 10pt;
}
.abstract-title {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 10pt;
	margin-top: 20pt;
	margin-bottom: 20pt;
}
.abstractr2l {
		font-size: 14pt;
		text-align: right;
		font-family: sans-serif
}
.fig {
	text-align: center;
}
.foot {
	font-size: 8pt;
		font-family:arial;
}
.r2l {
		font-size: 130%;
		text-align: right;
		font-family: sans-serif
}
.element {
	color: red;
}
.warning {
	color: red;
}
.limiter {
	color: blue;
}
.xml {
	background-color: #DDDDDD;
}
.destaque{
	background-color: #FFFFFF;
	color: #DDDDDD;
}