/* sobrescreve ViewNLM.css */
html {
	margin-left:  8%;
    	margin-right: 8%;
    }

 
body
     {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-size:   10pt;
     line-height: 1.4;
     margin-top: 50pt;
     width: 100%;
     }

div {
    margin-top: 24pt;
    margin-bottom: 24pt;
}

.scielo-article-title {
	font-weight: bold;
	font-size: 13pt;
	margin: 10;
	margin-bottom: 80px;
}
.scielo-article-other-titles {
	font-size: 13pt;
	margin: 20;
}
.scielo-article-other-titlesr2l {
	font-size: 16pt;
	text-align: right;
	margin: 20;
}
.scielo-authors {
		font-weight: bold;
}
.abstract-title {
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.abstractr2l {
		font-size: 14pt;
		text-align: right;
}
.r2l {
		font-size: 130%;
		text-align: right;
}

.fig {
	text-align: center;
	margin-top: 40pt;
	margin-bottom: 40pt;
	border-spacing: 20pt;


}
.table {	
	margin-bottom: 50pt;
	text-align: center;
	border-spacing: 20pt;
	
}


.fig-file {	
	margin: 20pt;
}
.fig-data {
	margin:  20pt;
}

.table-label, .fig-label {
		font-size: 9pt;
		font-weight: bold;
	
}

.table-caption, .fig-caption {
	font-size: 9pt;
	
}

.table-content {
	margin-top: 0
}
.table table {
	empty-cells: show ;
	border-style: dotted  dotted dotted dotted;
	table-layout: automatic;
}

.table table  thead   {
    font-size : 9pt;
	background: #aabbcc;
}


.table table  td {
    font-size : 8pt;
    border-bottom: 1px solid black;
    border-spacing: 20pt;
}


/*
.table table td {
		
	border: 1px solid gray;
}*/

.article-categories {
	text-align: right;
}
.element {
	color: red;
}
.warning {
	color: red;
	background-color: yellow;
}
.error {
	background-color: red;
	color: yellow;
}
.limiter {
	color: blue;
}
.xml {
	background-color: #DDDDDD;
	margin-bottom: 50pt;
}
.destaque{
	background-color: #FFFFFF;
	color: #DDDDDD;
}


.subject {
	text-transform: uppercase;
}
.foot {

     font-size:   8pt;	
}

fig-file a  {
	text-decoration: none;
}

.history {
	margin-top: 60pt;
}


.license P, .license  A, .license  SPAN{
	text-align: center;
	font-size: 8pt;
	
}

.license img {
	
}

.license  {
	margin-top: 60pt;	
}

.section-list {
 margin: 3pt;
}
.section-list li {
list-style-type: none
}

#author-notes P {
 margin: 0pt;
}

#author-notes  {
 margin: 2pt;
}

