.chapter .title {
	font-size: 1.70em;
	font-weight: bold;
}
.author {
	padding-top: 10px;
	font-weight: bold;
}
.section {
	padding-top: 10px;
}
.section .title {
	font-size: 130%;
	font-weight: bold;
}
.image {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	height: auto;
	page-break-inside: avoid;
}
.image img {
	max-height:inherit !important;
	max-width: 100%;
}
.footer {
	padding-top: 10px;
}
.footer .title {
	font-size: 130%;
	font-weight: bold;
}
.catalog {
	width: 80%;
	margin: auto;
	padding: 20px;
	border: solid;
	border-width: thin;
	page-break-before: auto;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.underline {
	text-decoration:underline;
}
.cover {
	text-align: center;
	page-break-after: always;
}
.table {
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	text-align:left !important;
}
.table tr td {
	border: 1px solid;
	vertical-align:text-top;
}
.table_borderless {
	width: 80%;
	margin: auto;
	border-collapse: collapse;
	text-align:left !important; 
}
.table_borderless tr td {
	vertical-align:text-top;
}