@charset "utf-8";

.categoria{
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
}

/*Títulos do artigo*/
.title{
	/* font-size: 16pt; */
	font-weight: bold;
	font-size: 135%;
}

/*Titulo traduzido do artigo*/
.trans-title{
	font-size: 120%;
	margin-top: 80px;
	margin-bottom: 80px;
}

.abstract .sec, .trans-abstract .sec {
	
	text-transform: uppercase;
	margin-top: 10px;
}
.abstract {
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin-top: 45px;
	font-size: 97%;

}
.trans-abstract {
	border-bottom: 1px solid;
	margin-top: 45px;
	font-size: 97%;
	
}


.sec {
	/* clear:both; 
	font-size: 15pt;*/
	/* border-bottom: #CCC double thick; */
	margin-top: 40px;
	font-weight: bold;
	font-size: 120%;
	text-transform: uppercase;	
}

.sub-subsec{
    padding-top: 10px;
	font-size: 100%;
	font-weight: bold;
}

/*Título das Subseções do artigo*/
.subsec{
	font-size: 110%;
	margin-bottom: 0px;
	font-weight: bold;
}

/*Título das Subseções do artigo*/
.sub-subsec, .subsection-title {
	font-size: 100%;
	font-weight: bold;
}
.table {
    font-family: Helvetica,sans-serif;
    display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

.td {
font-size: 8pt;
border-bottom: 1px solid black;
border-spacing: 20pt;
}
.dotted_table {
    empty-cells: show;
    border-style: dotted dotted dotted dotted;
    font-family: Helvetica,sans-serif;
    display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}
.table_thumbnail {
    padding-top: 25px;
    border-top: 1px solid;
	min-height: 90px;
	padding-bottom: 25px;
}
.td_thumbnail {
    vertical-align: top;
    
}
.td_label_caption {
    text-align: justify;
	vertical-align: top;	
}
.thumbnail{
	width: 120px;
	max-height: 75px;
	vertical-align: top;
}

.label_caption {
	padding-top: 10px;
	vertical-align: top;
	padding-bottom: 10px;
	
	font-family: arial;
}
.caption {
	text-align: justify;
}
.label {
	font-weight: bold;
}

.formula {
	padding: 25px;
    max-width: 100%;
    display: inline;
	max-height: 10%;
}

.graphic {
	padding: 25px;
    width: auto;
    max-width: 100%;
	
}

.inline-graphic{
	display: inline;
    width: auto;
    
    max-height: 40px;
	
}

.figure, .table-wrap {
	max-width: 100%;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

#article-footer {
    display: none;
    }
    
.foot-notes {
	padding-top: 20px;
	padding-bottom: 40px;

}
.footnote {
border-top: 1px solid;
	padding-top: 10px;
	vertical-align: top;
	padding-bottom: 10px;
	font-size: 90%;
	
}
.fn-author {}

.corresp {}

.sig-block {
	text-align: right;
	padding-top: 5%; 
}
.autores{
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 97%;
}
.aff {
    margin: 0;
}
.sub-article {
    border-top: 1px double #CCC ;
    padding-top: 5%;
    padding-bottom: 5%;
	}