BODY {
    font-family: Verdana;
    font-size: 10pt;
    padding: 20px;
}
/**/
sub, sup{
    background-color: #E3A79F;
}
p {
    padding-left: 2px;
    margin: 2px;
}
div {
    border: none;
    max-width: 1200px;
}
ul li{
  list-style: square;
}
ol{
  counter-reset: myCounter;
}
ol li{
  list-style: none;
  
}
ol li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  color: white;
  background: #9FD6D2;
  display: inline-block;
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  font-size: 60%;
  margin: 1px;
  padding: 5px;
  border-radius: 30px;
}



td {
  vertical-align: top;
  padding: 1px;
}
.subtitle {
  margin: 5px;
  font-size: 8pt;
  font-family: Verdana;
  color: #3D3832;
  background-color: #F0CEC2;
  padding: 5px;
  float: right;
}
.element-table {
  width: 90%
}
.element-table table {
   border: 1px solid gray;
   font-family: Courier;
   font-size: 10;
   color: black;
   background-color: white;
} 
.element-table td {
   border: 1px solid gray;
   font-family: Courier;
   font-size: 10;
   color: black;
   background-color: white;
} 
.element-table th {
   border: 1px solid gray;
   font-family: Courier;
   font-size: 10;
   color: black;
   background-color: white;
}
pre {
    font-size: 9pt;
    font-family: Courier;
    word-wrap:break-word;
    color: #113F8C;
}
code {
    color: #113F8C;
    background-color: white;
    font-size: 7pt;
    font-family: Courier;
    word-wrap:break-word;
}
h1 {
    text-align: center;
    font-family: "Verdana";
}
h2 {
    text-align: center;
    font-family: "Verdana";
    margin-top: 50px;
}
h3 {
    text-align: left;
    margin-top: 50px;
}
h5 {
    text-align: left;
    margin: 5px;
}
.td_xml {
    color: #113F8C;
    font-size: 7pt;
    font-family: Courier;
    word-wrap:break-word;
    width: 20%;
}
.validation_sheet {
   border: 1px dotted #8B85AB;
   font-family: "Verdana";
   font-size: 8pt;
   color: black; 
   width: 100%;
   max-width: 1200px;
} 
.td_label {
   border: 1px dotted gray;
   font-weight: bold;
   font-family: Courier;
   font-size: 10pt;
   color: black;
   vertical-align: top;
   width:20%; 
   word-wrap:break-word;
} 
.td_status {
   border: 1px dotted gray;
   font-family: Courier;
   font-size: 10pt;
   color: black;
   vertical-align: top;
   word-wrap:break-word;
   width:10%;
} 
.td_message {
   border: 1px dotted gray;
   font-family: Verdana;
   font-size: 9pt;
   color: black;
   vertical-align: top;
   word-wrap:break-word;
   width:30%;  
} 
.td_regular {
   border: 1px dotted gray;
   font-family: Verdana;
   font-size: 9pt;
   color: black;
   vertical-align: top;
   width:20%;  
} 
.fatalerror .td_label {
   border: 1px solid gray;
   font-weight: bold;
   font-family: Courier;
   font-size: 10pt;
   color: white;
   vertical-align: top;
   width:10%; 
   word-wrap:break-word;
} 
.fatalerror .td_status {
   border: 1px solid gray;
   font-family: Courier;
   font-size: 10pt;
   color: white;
   vertical-align: top;
   word-wrap:break-word;
   width:10%;
} 
.fatalerror .td_message {
   border: 1px solid gray;
   font-family: Verdana;
   font-size: 9pt;
   color: white;
   vertical-align: top;
   word-wrap:break-word;
   width:30%;  
} 
.validation_sheet th {
  border: 1px solid gray;
  background-color: #547980;
  color: white;
}
.sheet {
  border: 1px solid gray;
  font-family: "Verdana";
  font-size: 10;
  color: black; 
  width: 100%;
  max-width: 1200px;
} 
.sheet td {
  border: 1px solid gray;
   font-family: Courier;
   font-size: 8pt;
   color: black;
   vertical-align: top;
   word-wrap:break-word;
} 
.sheet th {
  border: 1px solid gray;
  background-color: #00A1CB;
  color: white;
}
.block {
    border: 1px solid gray;
    background-color: #FDFDEB;
    padding: 2px;
    margin: 5px;
}
.statistics {
    border: 1px solid gray;
    margin: 5px;
}
.warning {
    background-color: #F99548;
    padding: 2px;
    color: white;
}
.success {
    background-color: #61AE24;
    padding: 2px;
    color: white;
}
.fatalerror {
    background-color: #A30006;
    padding: 2px;
    color: white;
}
.error {
    background-color: #FC3E3F;
    padding: 2px;
    color: white;
}
.ok {
    background-color: #959F1F;
    color: black;
    padding: 2px;
}
.valid {
    background-color: #CFF09E;
    color: white;
    padding: 2px;
}
.info {
    background-color: #A5C8DE;
    padding: 2px;
}
.label {
    font-weight: bold;
    font-family: Courier;
}
.value{
    background-color: #EDE5E2;
}
.discret {
    font-family: Courier;
    color: gray;
    font-size: 8pt;
}
.article-type {
    color: #ED146F;
    margin: 5px;
    background-color: #FFF3C6;
    
}
.toc-section {
    color: #6B3A7B;
    background-color: #FFF3C6;
    font-size: 10pt;
    margin: 5px;
}
.article-title {
    color: #004C75;
    font-size: 10pt;
    margin: 5px;
    font-weight: bold;
}
.trans-title {
    color: #787940;
    font-size: 14pt;
    margin: 5px;
    font-weight: bold;
}
.doi {
    color: #B22222;
    margin: 5px;
}
.fpage {
    color: #006F00;
}
.sections li {
    display: inline;
    font-size: 12;
    font-family: Fantasy;
}
.article-data {
    background-color: white;
    border: 1px solid gray;
}
.issue-data {
    background-color: #B4EEF9;
}
/* MESSAGES */
.issue-messages{
    background-color: #547980;
    border: 1px solid gray;
    color: white;
}
.issue-problem{
    background-color: white;
    border: 1px solid gray;
    color: black;
    margin: 5px;
    padding: 5px;
}
.article-messages{
    border: 1px solid gray;
}
.collapsible {display:none}
.collapsiblehidden {display:none}
.collapsibleopen {display:block}

.embedded-report-ok{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.embedded-report-success {
    border: 2px solid #61AE24;
    margin: 5px;
    padding: 5px;
}
.embedded-report-warning{
    border: 2px solid #F99548;
    margin: 5px;
    padding: 5px;
}

.embedded-report-error{
    border: 2px solid #FC3E3F;
    margin: 5px;
    padding: 5px;
}

.embedded-report-fatalerror{
    border: 2px solid #A30006;
    margin: 5px;
    padding: 5px;
}

.thumb {
  height: auto;
  width: auto;
  min-height: 40px;
  max-height: 300px;
  max-width: 300px;
}

.delete {
  background-color: gray;
}
.deleted {
  background-color: gray;
}
.none {
  background-color: white;
}
.add {
  background-color: #E0F9F5;
}
.added {
  background-color: #E0F9F5;
}
.update {
  background-color: #CBF2FF;
}
.updated {
  background-color: #CBF2FF;
}
.skip-update {
  background-color: #FDD186;
}

.dbstatus {
  border: 1px solid gray;
  color: black;
  vertical-align: top;
  width: 100%;
  max-width: 1200px;
  word-wrap:break-word;
  margin: 5px;
  font-family: Verdana;
  font-size: 8pt;
} 
.dbstatus td {
  border: 1px solid gray;
  word-wrap:break-word;
    
} 
.dbstatus th {
  border: 1px solid gray;
    background-color: #699CA7;
    color: white;
}
.report-date {
  text-align: left;
  font-size: 9pt;
  font-family: Verdana;
  font-weight: bold;
  color: #4677A6;
  background-color: #F8C751;
  border-radius: 1em;
  padding: 5px;
}
.endreport {
  text-align: center;
  background-color: #C8E7EA;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 20px;
}
.button {
  background-color: #004C75;
  color: #C8E7EA;
  padding: 15px;
  font-weight: bold;
  font-family: Verdana;
  
}

.report-section {
  margin-top: 50px;
}
.pid {
  color: #B38295;
  background-color: #295876;
}
.aop-block {
  color: white;
  background-color: #ED146F;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 10px;
}
.aop {
  color: white;
  background-color: #ED146F;
}

.order {
  color: white;
  background-color: #D678C2;
}
.notes {
  color: white;
  background-color: #8C48A2;
}
.conversion {
  color: black;
  background-color: white;
}
.not-selected-tab {
  /* background-color: #CAC7BE; */
  background-color: #A7B3C6;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  max-width: 100px;
}
.selected-tab {
  background-color: #4677A6;
  color: #C8E7EA;
  padding: 10px;
  font-weight: bold;
  border: 1px solid white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  max-width: 100px;
}
.not-selected-tab-content {
  display: none;
  border: 5px solid #C7DEEB;
  margin: 5px;
  padding: 5px;

}
.selected-tab-content {
  display: block;
  border: 5px solid #004C75;
  margin: 5px;
  padding: 5px;
}
.tabs {
  padding: 5px;
}
.xmllist {
  margin: 20px;
}
.read {
  background-color: gray;
}
.replink {
  background-color: 
}
.hidden-report-ok{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    display: none;
}

.hidden-report-success {
    border: 2px solid #61AE24;
    margin: 5px;
    padding: 5px;
    display: none;
}
.hidden-report-warning{
    border: 2px solid #F99548;
    margin: 5px;
    padding: 5px;
    display: none;
}

.hidden-report-error{
    border: 2px solid #FC3E3F;
    margin: 5px;
    padding: 5px;
    display: none;
}

.hidden-report-fatalerror{
    border: 2px solid #A30006;
    margin: 5px;
    padding: 5px;
    display: none;
}

.reports-sheet {
  border: 1px solid #CCADBC;
  color: black;
  vertical-align: top;
  width: 100%;
  max-width: 1200px;
  margin: 5px;
  font-family: Verdana;
  font-size: 9pt;
} 
.reports-sheet td {
  border: 0.5px solid gray;
  word-wrap: break-word;
  padding: 5px;
} 
.reports-sheet th {
  border: 0.5px solid gray;
    background-color: #BBACAF;
    color: white;
    font-family: Verdana;
}
.reports-sheet tr .reports-hidden-block {
  border: 0.1px solid white;
  padding: 0px;
}
.reports-sheet td .reports-hidden-block {
  border: 0.1px solid white;
  padding: 0px;
}

.reports {
  font-family: "Verdana";
  font-size: 9pt;
}
.report-link-xmlrep {
  cursor:pointer;
  text-decoration:underline;
  color: white;
  background-color: #00B4CC;
  margin: 5px;
  padding: 5px;
}
.report-link-xmlrep:hover {
  text-decoration:none;

}
.report-link-xmlrep:visited {
    color: yellow;
} 

.report-link-datarep {
  cursor:pointer;
  text-decoration:underline;
  color: white;
  background-color: #008C9E;
  margin: 5px;
  padding: 5px;
}
.report-link-datarep:hover {
  text-decoration:none;
  
}
.report-link-datarep:visited {
    color: yellow;
} 

.report-link-xcrep {
  cursor:pointer;
  color: white;
  text-decoration:underline;
  background-color: #005F6B;
  margin: 5px;
  padding: 5px;
}
.report-link-xcrep:hover {
  text-decoration:none;
  
}
.report-link-xcrep:visited {
    color: yellow;
} 

.report-block-xmlrep {
    font-family: "Courier";
    border: 5px solid #55C3DC;
    padding: 2px;
    display: none;
}
.report-block-datarep {
    border: 5px solid #EFBDC0;
    padding: 2px;
    display: none;
}
.report-block-xcrep {
    border: 5px solid #A6D1C8;
    padding: 2px;
    display: none;
}

.aop-pid {
  color: white;
  background-color: #ED146F;
}

.package {
  background-color: #69D2E7;
  font-weight: bold;
}

.smaller {
  font-size: 75%
}

.note {
  background-color: #E3A79F;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 9pt;
  padding: 10pt;
  width: 30%;
  float: right;
}

.compare_ {
  padding: 10px;
  background-color: #E3CBC9;
}
.compare_inline {
  padding: 10px;
  background-color: #E3CBC9;
}
.compare_equation {
  padding: 10px;
  background-color: #E7E4D3;
}
.compare_figgrp {
  padding: 10px;
  background-color: #E7807B;
}
.compare_tabwrap {
  padding: 10px;
  background-color: #FF9985;
}
.compare_images {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.blockingerror {
  background-color: #B575CC;
  color: white;
}

.hist-registered {
  background-color: #9BF0E9;
  color: #451E0F;
}
.hist-package {
  background-color: #EDDE45;  
  color: #451E0F;
}
.hist-package-messages {
  background-color: #F2CACA;
  color: #451E0F;
}
.hist-converted {
  background-color: #68D13E;
  color: #451E0F;
}

.hist-excluded {
  background-color: #EDE5E2;
}
.hist-replaces {
  background-color: #EA3556;
}
.hist-replaced {
  background-color: #D8C8B8;
}
.hist-rejected {
  background-color: #D81A36;
}
.hist-not {
  background-color: #D81A36;
}
.excluded {
  background-color: #B8AA95;
  color: #5E5A54;
}

.surname {
  text-align: left;
  color: #2F3559;
  background-color: #CAD7B2;
  border-radius: 1em;
   margin: 10px;
}
.suffix {
  text-align: left;
  color: #2F3559;
  background-color: #F56991;
  border-radius: 1em;
   margin: 10px;
}
.name {
  text-align: left;
  color: #2F3559;
  background-color: #B5D8EB;
  border-radius: 1em;
   margin: 10px;
}
.collab {
  text-align: left;
  color: #2F3559;
  background-color: #DCD2E5;
  border-radius: 1em;
   margin: 10px;
}
