.container {
/*	width: expression(document.body.clientWidth < 550 ? "550" : "760"); */
	width: 760px;
	max-width: 760px;
	min-width: 550px;
	margin: 0px auto;
}

.top {
	position: relative;
	width: 100%;
}

.navigation {
	width: 75%;
	float: left;
}

.content {
	clear: both;
	padding: 50px 0px 20px 0px;
}

#group {
	float: right;
	width: 250px;
}

#toolBox {
	width: 190px;
}

.footer {

}
