#scieloLogo {
	background: url('../../image/en/fbpelogp.gif') no-repeat;
	width: 110px;
	height: 57px;
	float: left;
	margin-right: 20px;
	margin-top: 0px;
}

#scieloLogo A {
	display: block;
	width: 110px;
	height: 57px;
}

#scieloLogo SPAN {
	display: none;
}

.navigation DIV#issues, .navigation DIV#articles, .navigation DIV#articlesSearch, .navigation DIV#journalNavigation {
	float: left;
	margin-right: 10px;
}

.navigation DIV DIV {
	width: auto;
}

.navigation DIV#journalNavigation {
	padding-top: 25px;	
}

#toolBox {
	font-family: arial;
	font-size: 90%;
	border: 1px solid #CCCCCC;
	padding: 8px;
	margin: 0px 0px 10px 20px;
}

.toolBoxSection{
    border-bottom:1px solid #CCCCCC;
}

.content .toolBoxSection H2 {
    font-family: arial;
    color: #666666;
    font-size: 100%;
    font-weight: bold; 
    margin-top: 10px; 
}

.content .box A {
    text-decoration: none;
}

#toolsSection {
	color: #900;
	font-weight: bold;
	font-size: 100%;
	padding-bottom: 4px;
	margin-top: 5px;
	border-bottom: 1px solid #BE9595;
}

#toolBox UL {
	list-style: none;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

#toolBox UL UL {
	list-style: none;
	padding: 0px;
	margin: 0px 0px 0px 28px;
	font-size: 95%;
}

#toolBox LI {
	margin-bottom: 5px;
}

#toolBox UL UL LI {
	margin-bottom: 2px;
}

#toolBox A {
	color: #000;
	text-decoration: none;
}

#toolBox A:hover {
	text-decoration: underline;
}

#toolBox IMG {
	margin-right: 5px;
	vertical-align: middle;
}

.content {
	border-bottom: 1px solid #8D8D8D;
}

.content H2 {
	font-weight: normal;
	font-size: 140%;
	color: #000080;
	margin: 0px;
}

.content H2#printISSN {
	font-weight: normal;
	font-size: 90%;
	margin: 0px;
}

.content H3 {
	font-family: times;
	color: #800000;
	font-size: 110%;
}

.content H4 {
	font-size: 98%;
	margin-bottom: 5px;
	font-weight: normal;
	color: #800000;
}

HTML>BODY .content H4 {
	font-size: 110%;
}

.content H4#doi {
	font-weight: normal;
	font-size: 80%;
	margin: 0px;
}

#author {
	font-weight: bold;
	margin: 0px;
}

#affiliation {
	font-size: 90%;
	margin: 0px;
}

.articleLinks LI {
	display: inline;
	margin-right: 20px;
	font-size: 95%;
	
}

.footer {
	text-align: center;
	font-size: 90%;
	font-weight: bold;
	color: #000080;
}
.email {
	font-weight: normal;
	color: #000080;
}

.popUp {
	margin: 0px;
	border-top: 7px solid #990000;
	font-size: 75%;
}

.popUp .container {
	width: 95% !important;
	padding: 10px;
}

.popUp H5 {
	color: #990000;
}

.popUp H6 {
	font-size: 90%;
	border-bottom: 1px solid #EEE;
	margin-bottom: 3px;
}

.popUp .close {
	position: absolute;
	right: 10px;
	top: 10px;

}

.popUp .close A {
	color: black;
}
.invisible {display: none}

.license P, .license  A, .license  SPAN{
	text-align: center;
	font-size: 8pt;
	color: black
}

.license img {
	
}
.article-title {
	font-weight: bold;
}